body {
  margin: 40px 15%;
}

.bar {
  color: #fff;
  background-color: #56c3d3;
  cursor: pointer;
  padding: 10px 10px;
  width: 100%;
  border: 1px solid #56c3d3;
  border-bottom: 0;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active,
.bar:hover {
  background-color: #24d5e9;
}

.pg {
  max-height: 0;
  border: 1px solid #56c3d3;
  padding: 0 25px;
  font-size: 18px;
  background-color: white;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
  color: grey;
}

p {
  padding: 25px 25px;
  line-height: 21px;
}
